/* Basic setup*/


body {
    color: $body-color;
}

html,
body {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*Elementos reusables*/



.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*Links*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-botton 0.4s, color 0.4;
    transition: border-botton 0.4s, color 0.4;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;

}

/* Headings*/

h1,
b,
.developer {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 190%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 2px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    /*margin: 1.14rem 0 0.912rem 0;*/
}

/*Header*/

header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/fullstack.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.name-text-box {
    position: absolute;
    width: 100%;
    top: 69%;
    left: 57%;
    transform: translate(-50%, -50%);
}


.description {
    position: absolute;
    width: 1140px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.college {
    position: absolute;
    width: 1140px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;
}

/* Skills section*/

.section-skills {
    background-color: $section-skills-color;
}

.card {
    
    border-radius: 3px;
    margin-bottom: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 23px 2px rgba(0,0,0,0.75);
}

.back-end-skills {
    list-style: none;
    width: 100%;
    margin-left: 65px;
}

.back-end-skills li {
    display: block;
    float: left;
    width: 20%; 
}

.skill-logo {
    width: 45%;
    margin: 0;
    overflow: hidden;
}

/* Footer */

footer {
    background-color: $body-color;
    padding: 50px;
    font-size: 80%;
}

footer p {
    color: $footer-links-color;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: $footer-links-color;
    transition: color 0.2s;
}

/* Animations */

.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 10s;
}